scopeName: 'hydrogen.breakpoints'
name: 'hydrogen breakpoints'
type: 'modern-tree-sitter'
parser: 'tree-sitter-hbp'
injectionRegex: '^(hydrogen-breakpoints)$'
treeSitter:
  grammar: 'tree-sitter-hbp.wasm'
